{% extends "ist/base.html" %}

{% block title %}Interactive Stats Tool - About{% endblock %}

{% block content_title_glyph %}
<span class="glyphicon glyphicon-question-sign"></span>
{% endblock %}

{% block content_title%}About{% endblock %}

{% block content %}
<p class="about_text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tempor augue, at lobortis nulla. Praesent euismod nulla sit amet purus ornare malesuada. Pellentesque magna ipsum, viverra in lectus ut, tempus euismod velit. Proin at erat vulputate, interdum elit fermentum, porta lectus. Sed imperdiet finibus semper. Integer faucibus enim et nisl accumsan lacinia. Praesent tincidunt, lectus vitae fringilla fringilla, quam elit vestibulum orci, et vulputate ante metus nec urna. Fusce lobortis lorem gravida mi ornare ultricies. In ut nulla lorem. Donec lectus erat, tincidunt at imperdiet quis, egestas nec sem. Nullam purus purus, bibendum rutrum interdum vitae, aliquet ut urna.
</p>
{% endblock %}
