{% load staticfiles %}

{% load bootstrap3 %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "css/ist.css" %}" media="screen" />
</head>

<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Interactive Stats Tool</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{% if nav_page == 'index' %}active{% endif %}">
						<a href="/"><span class="glyphicon glyphicon-home"></span></a>
					</li>
					<li class="{% if nav_page == 'about' %}active{% endif %}">
						<a href="/about"><span class="glyphicon glyphicon-question-sign"></span></a>
					</li>
					<li class="{% if nav_page == 'contact' %}active{% endif %}">
						<a href="/contact"><span class="glyphicon glyphicon-envelope"></span></a>
					</li>

					<!--
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
					-->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a href="/admin">
							<span class="glyphicon glyphicon-cog"></span>
							<span class="sr-only">(current)</span>
						</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

    <div class="container-fluid"> 
		<h3>
			{% block content_title_glyph %}{% endblock %}
			{% block content_title %}{% endblock %}
		</h3>
		<hr>
		{% block pre_amble %}{% endblock %}
        {% block content %}{% endblock %}
        {% block actions %}{% endblock %}
        
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>
    <script src="https://use.fontawesome.com/54eabfe4ce.js"></script>

</body>

</html>
