{% extends "ist/base.html" %}

{% block title %}Interactive Stats Tool - Contacts{% endblock %}

{% block content_title_glyph %}
<span class="glyphicon glyphicon-envelope"></span>
{% endblock %}

{% block content_title%}Contacts{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12" >
		<p class="contact_title">General enquiries</p>
		UK Department for Transport<br>
		Transport Statistics <br>
		Zone 2/27, Great Minster House <br>
		33 Horseferry Road <br>
		London <br>
		SW1P 4DR <br>
		<span class="glyphicon glyphicon-earphone"></span> 0300 330 3000 <br>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:publicationgeneral.enq@dft.gsi.gov.uk" > publicationgeneral.enq@dft.gsi.gov.uk</a></br>
		<span class="glyphicon glyphicon-print"></span> +44 (0)20 7944 2165 <br><br>
	</div>
</div>

<div class="row">

	<div class="col-md-6 address_col" >
		<p class="contact_title">Aviation statistics</p>
		<p class="contact_information">For information on Aviation and airport statistics, International Passenger Survey, origins and destinations of international freight traffic, Transport Indicators.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:aviation.stats@dft.gsi.gov.uk"> aviation.stats@dft.gsi.gov.uk</a></br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 3088</br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Bus and coach statistics</p>
		<p class="contact_information">For information on Bus and coach statistics, light rail and tram statistics, taxi statistics, parking and disabled parking (blue) badge statistics.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:bus.statistics@dft.gsi.gov.uk"> bus.statistics@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 3094<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">International comparisons</p>
		<p class="contact_information">For information on Transport statistics for EU and other international bodies, international comparisons.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:inter.transport.comparisons@dft.gsi.gov.uk"> inter.transport.comparisons@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 3088<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Maritime statistics</p>
		<p class="contact_information">For information on Maritime statistics, Merchant Fleet statistics, Sea passenger statistics, Port traffic, coastwise and inland waterways freight statistics.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:maritime.stats@dft.gsi.gov.uk"> maritime.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 4131<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">National Rail Travel Survey</p>
		<p class="contact_information">For information on the National Rail Travel Survey.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:rail.stats@dft.gsi.gov.uk"> rail.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 8874<br><br>
		<p class="contact_information">For information on National Travel Survey, other personal travel data.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:national.travelsurvey@dft.gsi.gov.uk"> national.travelsurvey@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 6594<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Public attitudes to transport</p>
		<p class="contact_information">For information on travel plans and travel awareness campaigns, attitudes towards transport policy.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:attitudes.stats@dft.gsi.gov.uk"> attitudes.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 4442<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Publications and IT unit</p>
		<p class="contact_information">For information on Transport Statistics internet site, statistical publications unit, Transport Statistics Great Britain.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:publicationgeneral.enq@dft.gsi.gov.uk"> publicationgeneral.enq@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 4847<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Rail statistics</p>
		<p class="contact_information"><a href="http://orr.gov.uk/">The Office of Rail Regulation</a> has responsibility for general rail statistics.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:publicationgeneral.enq@dft.gsi.gov.uk"> publicationgeneral.enq@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 6595<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Road accident statistics</p>
		<p class="contact_information">For information on Road accidents, vehicle speeds, car safety, drink-driving, inter-modal passenger safety.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:roadacc.stats@dft.gsi.gov.uk"> roadacc.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 6595<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Road freight statistics</p>
		<p class="contact_information">For information on Road freight, Continuing Survey of Road Goods Transport, light goods vehicle survey, survey of International Road Haulage, pipelines.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:roadfreight.stats@dft.gsi.gov.uk"> roadfreight.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 3093<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Road maintenance statistics</p>
		<p class="contact_information">For information on Highways maintenance statistics, National Road Maintenance Condition Survey, investment, highways expenditure.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:roadmaintenance.stats@dft.gsi.gov.uk"> roadmaintenance.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 4746<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Road traffic statistics</p>
		<p class="contact_information">For information on Road traffic statistics - production and analysis, manual traffic counts and road lengths surveys. Road traffic statistics - development, automatic traffic counts, weigh-in-motion.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:roadtraff.stats@dft.gsi.gov.uk"> roadtraff.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 3095<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Sub-national data</p>
		<p class="contact_information">For information on a number of local transport topics - walking and cycling, how people travel to work and measures of how easily populations can access key services and facilities.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:subnational.stats@dft.gsi.gov.uk"> subnational.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 4746<br><br>
	</div>

	<div class="col-md-6 address_col" >
		<p class="contact_title">Vehicles statistics</p>
		<p class="contact_information">For information on Vehicle stock and new registrations, statistical advice to DVLA, VED evasion studies, vehicle taxation and fuel consumption, road track costs, environmental statistic, speed surveys in urban areas and on trunk roads.</p>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:vehicles.stats@dft.gsi.gov.uk"> vehicles.stats@dft.gsi.gov.uk</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +44 (0)20 7944 3077<br><br>
	</div>

</div>

{% endblock %}
