{% extends "ist/base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Interactive Stats Tool - {{dataset.title}}{% endblock %}

{% block content_title_glyph %}
    <a href="{{ dataset.get_details_url }}"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <!--<a href="/"><span class="glyphicon glyphicon-chevron-left"></span></a> -->
{% endblock %}

{% block content_title%}Get Data{% endblock %}

{% block content %}
    <h2>{{dataset.title}}</h2>
    <form action="." method="post">
        {% csrf_token %}
        <ul>
        {{ select_form|as_bootstrap }}
        </ul>
        <p><input type="submit" value="Get Data"></p>
    </form>
{% endblock %}

{% block actions %}
<!--
<div class="btn-group" role="group" aria-label="...">
	<a href="{{dataset.get_data_url}}">
		<button type="button" class="btn btn-default">Get Data</button>
	</a>
</div>
-->
{% endblock %}
