{% extends "ist/base.html" %}

{% block title %}Interactive Stats Tool - {{dataset.title}}{% endblock %}

{% block content_title_glyph %}
<a href="/"><span class="glyphicon glyphicon-th dataset-icon-sm"></span></a>
{% endblock %}

{% block content_title%}Dataset Details{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
  
            <h3><nobr>Measures &amp Filters</nobr></h3>
            <hr>
            <form action="." method="post">

                {% csrf_token %}
                {{ select_form.non_field_errors }}
                <table class="table table-condensed table-striped">

                    <tr>
                        <td>
                            <div class="feildWraper" >
                                {{ select_form.measures.label_tag }}
                            </div>
                        </td> 
                        <td>
                            <div class="feildWraper" >
                                {{ select_form.measures.errors }}
                                {{ select_form.measures }}
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <th colspan="2">Filters</th> 
                    </tr>
                    
                    {% for field in select_form %}
                        {% if field != select_form.measures %}
                        <tr>
                            <td>
                                <div class="fieldWrapper">
                                    {{ field.label_tag }}
                                </div>
                            </td>
                            
                            <td>
                                <div class="fieldWrapper">
                                    {{ field.errors }}
                                    {{ field }}
                                </div>
                            </td>
                            
                        </tr>
                        {% endif %}
                    {% endfor %}
                    
                    <tr>
                        <td></td> 
                        <td>
                            <button class="fa fa-calculator fa-2x btn btn-primary pull-right" href="{{ data_file_path }}" type="sumbit" role="button" title="Calculate Data" > </button>
                        </td>
                    </tr>
                    
                </table>

                
            </form>
        </div>
        
        <div id="mainview" class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <h3>{{dataset.title}}</h3>
            <hr>
            <p class="dataset_description">{{dataset.description}}</p>
            <hr>
            <table class="table table-bordered table-condensed">
                <tr><th>Measures</th><th>Filters</th></tr>
                <tr>
                    <td class="dataset_info">
                        <ul class="no_icon" >
                            {% for a in dataset.get_measures %}
                                <li>{{a}}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td class="dataset_info">
                        <ul class="no_icon" >
                            {% for a in dataset.get_filters %}
                                <li>{{a}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
            <hr>
            <p class="info_database" >Database: {{dataset.database}}</p>
            <p class="info_date" >Added: {{dataset.added}}</p>
        </div>
        
        <div id="mainview" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% if table_data|length > 0 %}
                <hr>
                <button class="fa fa-download fa-2x btn btn-primary" href="{{ data_file_path }}" role="button" title="Download Data" > </button>
                
                <br>
                <br>
                <div class="table-responsive" >
                    <table class="table table-bordered table-condensed table-striped">
                        {% for row in table_data %}
                            <tr>
                            {% if forloop.first %}
                                {% for col in row %}
                                    <th class="info">{{col}}</th>
                                {% endfor %}
                            {% else %}
                                {% for col in row %}
                                    <td>{{col}}</td>
                                {% endfor %}
                            {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

{% block actions %}
{% endblock %}
