{% extends "ist/base.html" %}
{% load static %}

{% block title %}Interactive Stats Tool{% endblock %}

{% block pre_amble %}
<p class="pre_amble">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu tempor augue, at lobortis nulla. Praesent euismod nulla sit amet purus ornare malesuada. Pellentesque magna ipsum, viverra in lectus ut, tempus euismod velit. Proin at erat vulputate, interdum elit fermentum, porta lectus.
</p>
{% endblock %}

{% block content_title_glyph %}
<span class="glyphicon glyphicon-home"></span>
{% endblock %}

{% block content_title%}Select Data{% endblock %}

{% block content %}

<div class="row">
    {% for obj in datasets %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-centered">
        <center>
            <a href="{{obj.get_details_url }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{obj.title}}</h3>
                    </div>
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-th dataset-icon"></span>
                    </div>

                    <!--
                    <div class="panel-footer">
                        {{obj.database}}<br>
                        {{obj.added.date }}<br>
                        {{obj.get_details_url }}<br>
                    </div>
                    -->
                </div>
            </a>
        <center>
    </div>
    {% endfor %}
</div>

{% endblock %}
