body {
	background: #FFFFFF;
	color: #000000;
	padding-top: 70px;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #FFFFFF;
}

p.pre_amble {
	font-weight: normal;
	color: #888888;
}

p.about_text {
	font-weight: normal;
	font-style: italic;
	line-height: 100%;
}

p.contact_title {
	font-weight: bold;
	line-height: 100%;
	font-size: 18pt;
}

p.contact_addressline {
	font-weight: normal;
	font-style: italic;
	line-height: 75%;
}

p.contact_information {
	font-weight: normal;
}

p.contact_email {
	font-weight: normal;
	font-style: italic;
	line-height: 85%;
}

p.contact_telephone {
	font-weight: bold;
	line-height: 85%;
}

p.info_date {
	font-weight: lighter;
	font-style: italic;
	line-height: 85%;
}

p.info_database {
	font-weight: lighter;
	font-style: normal;
	line-height: 85%;
}

span.dataset-icon {
	font-size: 64pt;
	color: #003300;
}

span.dataset-icon-sm {
	color: #003300;
}

address_col {
	display: inline-block;
	vertical-align: top;
}

data_form {
    border: 1px solid black;
}

td.dataset_info {
    vertical-align: top;
}

ul.no_icon {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

